#tree-wrap{
  margin: 0 auto;
  height: 900px;
  max-width: 80%;
  padding: 0px 0px 0px 10px;
  border: 1px solid gray;
}
.angular-tree-component{
  width: calc(100% - 10px);
}

.tree-node{
  min-width: fit-content;
}

.container{
  display: flex;
  flex-direction: row-reverse;
}

/////////////////////////////////////////////////////////////////


//.tree-children::before {
.angular-tree-component{
  overflow: visible;
  padding-left: 10px;
}
.angular-tree-component::before {
  content: "";
  position: absolute;
  border-left: 1px dotted #23527c !important;
  height: 100%;
  top: -15px;
  left: 4px // -8px
}


.tree-node:not(.tree-node-leaf) > tree-node-wrapper > div .node-content-wrapper{

  width: 100%;
}


tree-node>div .toggle-children-wrapper {
  width: 3px;
  height: 0px;
  border: 1px solid #23527c;
  position: absolute;
  left: 0px;
  margin-top: 5px;
  margin-left: -20px;
  display: inline-block;
  background-color: greenyellow;
  z-index: 1
}

tree-node>div .toggle-children-wrapper::before {
  content: "";
  display: inline-block;
  width: 5px;
  border-top: 1px solid #23527c;
  position: absolute;
  top: 3px;
  left: 1px
}

tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
  content: "";
  display: inline-block;
  height: 5px;
  border-left: 1px solid #23527c;
  position: absolute;
  top: 1px;
  left: 3px
}


tree-node>div .toggle-children-wrapper .toggle-children {
  display: none
}

tree-node>div .node-content-wrapper {
  margin-left: 4px;
}

tree-node:not(.tree-node-leaf)>div .node-content-wrapper-focused{
  //width: 100%;
}

tree-node>div::before {
  left: 14px;
}

tree-node>div>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
  left: 22px;
}


