#tree-wrap{
  margin: 0 auto;
  height: 900px;
  max-width: 720px;
  padding: 0px;
  border: 1px solid gray;
}

.tree-node{
  min-width: fit-content;
}

//.tree-node-level-2.tree-node.tree-node-expanded{
//  background-color: #E0EFFA;
//  width: 100%;
//}

.container{
  display: flex;
  flex-direction: row-reverse;
}

/////////////////////////////////////////////////////////////////


.tree-children.tree-children::before, .tree.tree::before {
  content: "";
  position: absolute;
  border-left: 1px dotted #23527c !important;
  height: 100%;
  top: -14px;
  left: 8px
}

.tree.tree {
  padding-left: 0;
  margin-left: 5px
}







tree-node>div .toggle-children-wrapper {
  width: 8px;
  height: 5px;
  border: 1px solid #23527c;
  position: absolute;
  left: 3px;
  margin-top: 5px;
  margin-left: 0;
  display: inline-block;
  background-color: #fff;
  z-index: 1
}

tree-node>div .toggle-children-wrapper::before {
  content: "";
  display: inline-block;
  width: 7px;
  border-top: 1px solid #23527c;
  position: absolute;
  top: 5px;
  left: 2px
}

tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
  content: "";
  display: inline-block;
  height: 5px;
  border-left: 1px solid #23527c;
  position: absolute;
  top: 2px;
  left: 5px
}

tree-node>div .toggle-children-wrapper .toggle-children {
  display: none
}

tree-node>div .node-content-wrapper {
  margin-left: 4px
}

tree-node>div::before {
  left: 14px
}

tree-node>div>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
  left: 22px
}


