<div ngDraggable ngResizable class="test">

  <button class="mat-raised mat-button flex-none" type="button">something</button>

  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
</div>

<div ngDraggable ngResizable class="test2">

  <button class="mat-raised mat-button flex-none" type="button">Cancel1</button>
  <button class="mat-raised mat-button flex-none" type="button">Cancel2</button>
  <button class="mat-raised mat-button flex-none" type="button">Cancel3</button>

  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>

</div>
