<div class="progress-indicator">
  <div class="loader">
    <div [@signal]="state1" (@signal.done)="onDone($event)" class="traffic-light"></div>
    <div [@signal]="state2" (@signal.done)="onDone($event)" class="traffic-light"></div>
    <div [@signal]="state3" (@signal.done)="onDone($event)" class="traffic-light"></div>
    <div [@signal]="state4" (@signal.done)="onDone($event)" class="traffic-light"></div>
    <div [@signal]="state5" (@signal.done)="onDone($event)" class="traffic-light"></div>
  </div>
  </div>
<button (click)="stop()">stop</button>


<!--
<div class="progress-indicator">
<div class="loader" [ngStyle]="{'transform': 'translateX(100px)'}">
  <div class="progress-indicator__dot"></div>
  <div class="progress-indicator__dot"></div>
  <div class="progress-indicator__dot"></div>
  <div class="progress-indicator__dot"></div>
  <div class="progress-indicator__dot"></div>
</div>
</div>
-->
