:host {
  height: 3px;
  position: relative;

  .progress-indicator {

    position: absolute;
    left: 0px;
    width: 100%;
  }

  .loader {
    height: 3px;
  }

  .traffic-light {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: blue;

    animation-duration: 3.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;

    background: black;
    border-radius: 50px;

    -webkit-animation-name: loader;
    -ms-animation-name: loader;
  }
}
