<div class="progress-indicator">
    <div [@piTrigger]="state1" (@piTrigger.done)="onDone($event)" class="progress-indicator__dot"></div>
    <div [@piTrigger]="state2" (@piTrigger.done)="onDone($event)" class="progress-indicator__dot"></div>
    <div [@piTrigger]="state3" (@piTrigger.done)="onDone($event)" class="progress-indicator__dot"></div>
    <div [@piTrigger]="state4" (@piTrigger.done)="onDone($event)" class="progress-indicator__dot"></div>
    <div [@piTrigger]="state5" (@piTrigger.done)="onDone($event)" class="progress-indicator__dot"></div>
  </div>
