<div class="act-item-condition">
  <div class="act-item-condition__content">
  <div *ngFor="let row of name; let i = index">
    <div class="node-content-condition-pre"> {{ row.pre }} <div (click)="onClick($event)"
                       class="node-content-condition"
                       [ngClass]="{'node-content-condition--active': i == selected}"
                       [attr.data-condition-index]="i"
                      >{{row.condition}}</div> {{row.post}}
    </div>
  </div>
  </div>
  <div class="act-item-condition__navigation"><span>i</span><span>i</span><span>i</span><span>i</span></div>
</div>

