
.node-content-wrapper-focused .act-item-action{
  background-color: blue;
  outline: 1px solid pink;
  color: white;
}

tree-viewport{
  overflow-x: hidden;
}

.tree-node-level-1{
  margin-left: 10px;
  position: relative;
}

.tree-node-level-1.active-group{
  margin-left:11px;
}

.tree-node-level-1{
  border-left: 1px solid white;
}


[class|=tree-node-level].active{
  background-color: #E0EFFA;

}

.tree-node-loading{
  display: none;
}

.tree-node-level-1.active-first{
  margin-bottom: 0px;
}

.tree-node-level-1:not(.active-first){
  margin-bottom: 1px;
}



.active [class|=tree-node-level]:not(.tree-node-leaf):not(.tree-node-level-1)
{
  border-top: 1px solid #7FBBEB;
}

[class|=tree-node-level].active-group:not(.tree-node-leaf):not(.tree-node-level-1){
  border-top: 1px solid #7FBBEB;
}
//a:has(> img)


[class|=tree-node-level]:not(.tree-node-leaf):not(.tree-node-level-1)
{
  border-top: 1px solid red;
}


.tree-node-level-1.active-first{
  border-bottom: 1px solid #7FBBEB !important;
}

.tree-node-level-1{
  border-bottom: 1px solid red;
}



[class|=tree-node-level] tree-node-wrapper{
  border-bottom: 1px  solid #7FBBEB;
}

.theone.active-group{
  border-right: 1px  solid #7FBBEB;
  border-top: 1px  solid #7FBBEB;
  border-bottom: 1px  solid transparent;
  border-left: 1px  solid #7FBBEB;

}




.start.active-group{
  border-top:    1px solid #7FBBEB;
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.middle.active-group{
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.end.active-group{
  border-bottom:    1px solid #7FBBEB;
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.node-drop-slot {
  display: block;
  height: 0px;
}
