<div id="test">
  <h3>Example1</h3>
  <app-progress-indicator [bottom]="'true'" ></app-progress-indicator>
</div>

<h3>Content</h3>


<div id="test2">
  <app-progress-indicator></app-progress-indicator>
  <h6>Example 2</h6>
</div>

<h3>Content</h3>

<div id="test3">
  <app-progress-indicator></app-progress-indicator>
  <h3>Example 3</h3>
</div>

<h3>Content</h3>

<div class="container">
  <div class="inner">
    <div>row1</div>
    <button mat-button color="accent">Accent</button>
    <app-progress-indicator [bottom]="'true'"></app-progress-indicator>
  </div>

  <div class="inner">
    <div>row1</div>
    <button mat-button color="accent">Accent</button>
    <app-progress-indicator [bottom]="'true'"></app-progress-indicator>
  </div>

  <div class="inner">
    <div>row1</div>
    <button mat-button color="accent">Accent</button>
    <app-progress-indicator [bottom]="'true'"></app-progress-indicator>
  </div>

  <div class="inner">
    <div>row1</div>
    <button mat-button color="accent">Accent</button>
    <app-progress-indicator [bottom]="'true'"></app-progress-indicator>
  </div>
</div>

<button class="mat-raised mat-button flex-none" type="button">Cancel</button>


<app-resizable></app-resizable>

<router-outlet></router-outlet>

