
.node-content-wrapper-focused .act-item-action{
  background-color: blue;
  border: 1px solid red;
  color: white;
}

tree-viewport{
  overflow-x: hidden;
}

.tree-node-level-1{
  margin-left: 10px;
  position: relative;
}

[class|=tree-node-level].active{
  background-color: #E0EFFA;

}

[class|=tree-node-level].start:not(.tree-node-leaf)::before,
[class|=tree-node-level].theone:not(.tree-node-leaf)::before
{
  content:'';
  position:absolute;
  display:block;
  height:1px;
  width: 90%;
  background:lightgray;
  left:50%;
  z-index:1000;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
}

.active-group, :not(.active-group > .active-group){
  margin-left: 9px;
}

.theone.active-group{
  border: 1px solid #7FBBEB;
}

.start.active-group{
  border-top:    1px solid #7FBBEB;
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.middle.active-group{
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.end.active-group{
  border-bottom:    1px solid #7FBBEB;
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}


