
.node-content-wrapper-focused .act-item-action{
  background-color: blue;
  outline: 1px solid pink;
  color: white;
}

tree-viewport{
  overflow-x: hidden;
}

.tree-node-level-1{
  margin-left: 10px;
  position: relative;
}

.tree-node-level-1.active-group{

  margin-left:11px;
  color: red;
}

.tree-node-level-1{
  border-left: 1px solid white;
}


[class|=tree-node-level].active{
  background-color: #E0EFFA;

}

//.tree-node-level-1:first-child{
//  border-left: 1px solid red;
//}



[class|=tree-node-level]:not(.tree-node-leaf)
{
  border-top: 1px solid red;
  //border-left: 1px solid white;
}


[class|=tree-node-level] > .active-group + [class|=tree-node-level]{
  border-top: 3px solid green !important;
}

.active-group > tree-node-wrapper > .node-wrapper{
  //padding-left: 29px !important;
  //color: red !important;
}






.theone.active-group{

  //border-top: 1px  solid #7FBBEB !important;

  border-right: 1px  solid #7FBBEB !important;
  border-top: 1px  solid #7FBBEB !important;
  border-bottom: 1px  solid #7FBBEB !important;
  border-left: 1px  solid #7FBBEB !important;
  //outline: 1px  solid #7FBBEB !important;



  //border-right: 1px solid #7FBBEB;
  //border-left: 1px solid #7FBBEB;
  //border-bottom: 1px solid #7FBBEB;
}




.start.active-group{
  border-top:    1px solid #7FBBEB;
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.middle.active-group{
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.end.active-group{
  border-bottom:    1px solid #7FBBEB;
  border-right:  1px solid #7FBBEB;
  border-left:  1px solid #7FBBEB;
}

.node-drop-slot {
  display: block;
  height: 0px;
}
